services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      # 1. Persist workspaces
      - ./workspaces:/home/coder/clouide_workspaces

      # 2. MOUNT THE FRONTEND BUILD
      - ./frontend/dist:/frontend/dist
    environment:
      - PYTHONUNBUFFERED=1
